.evnbox
{
font-family:sans-serif;
font-size:14px;
border-color:#223d22;
border-style:solid;
border-width:2px;
visibility:visible;
vertical-align:bottom;
}

.item2box
{
font-family:sans-serif;
font-size:14px;
border-width:0px;
vertical-align:bottom;
text-align:center;
}

.netlabel{
font-family:sans-serif;
font-weight:bold;
font-size:16px;
border-bottom: 2px solid #223d22;
color:#223d22;
}

